*{
    padding: 0;
    margin: 0;
    border: border-box;
}

header{
    height: 50px;
    background-color: rgb(40, 39, 39);
    text-align: right;
    padding: 10px;
    background-color: black;
}

main{
    height: calc(100vh - 130px);
    overflow-y: scroll;
    width: 100%;
    background-color: rgb(40, 39, 39);

}

.button-screen{
    background-color: black;
    margin-left: 10px;
    color: white;
}

.partecipant-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partecipant{

    position: relative;
    width: 245px;
    padding: 10px;
    height: 150px;
}



.name{
    position: absolute;
    bottom: 0;
    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.partecipant img{

    padding: 10px;
    display: block;
    height: 150px;
    width: 100%;
   
}





.speaker{
    background-color: gray;
    color: whitesmoke;
    padding: 5px;
    border-radius: 3px;
    margin-left: 10px;
}







footer{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left{
    display: flex;
    align-items: center;

}

.footer-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(200, 194, 194);
}

.footer-right span{

    color: red;
    padding: 5px;

}

.footer-center{
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10px;
    height: 20px;
    
}

.icon i{
    font-size: 30px;
}

.green{
    color: greenyellow;
}